<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Edition du produit</div>
    <div class="panel-body" *ngIf="currentProduct">
      <form #form="ngForm" (ngSubmit)="onUpdate(form.value)">
        <div class="form-group">
          <label for="formulaire" class="control-label">Désignation</label> <br>
          <input id="formulaire" type="text" name="designation" class="form-control" ngModel [(ngModel)]="currentProduct.designation"> <hr>
          <label for="formulaire3" class="control-label">Quantité</label> <br>
          <input id="formulaire3" type="text" name="quantite" class="form-control" ngModel [(ngModel)]="currentProduct.quantite"> <hr>
          <label for="formulaire2" class="control-label">Prix</label> <br>
          <input id="formulaire2" type="text" name="price" class="form-control" ngModel [(ngModel)]="currentProduct.price"> <br>
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-save"></span>
            Mettre à jour
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
